<% include partials/header %>

<div class="container">
    <div class="row">
        <h1 class="text-center">Create New Campground</h1>
        <div style="width: 30%; margin: 25px auto">
            <form action="/campgrounds" method="POST">
                <!-- Name -->
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="name" name="name" id="">
                </div>
                <!-- Description -->
                <div class="form-group">
                    <textarea name="description"  placeholder="description" class="form-control" rows="5" id="message" style="margin-top: 0px; margin-bottom: 0px; height: 134px;" spellcheck="false"></textarea>
                    <!-- <input class="form-control" type="text" placeholder="name" name="name" id=""> -->
                </div>
                <div class="form-group">
                    <input class="form-control" type="text" placeholder="image url" name="image">
                </div>
                <div class="form-group">
                    <button class="btn btn-lg btn-primary btn-block">Create Campsite!</button>
                </div>
            </form>
            <a href="/campgrounds" class="btn btn-sm btn-primary">Go Back</a>  
        </div>
        

    </div>
    
</div>



<% include partials/footer %>
