<h1>login</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username" id="">
    <input type="password" placeholder="password" name="password" id="">
    <button>Login</button>
</form>

<li><a href="/login">Login</a></li>
<li><a href="/register">Sign Up</a></li>
<li><a href="/logout">Logout</a></li>