<h1>login</h1>

<form action="/login" method="POST">
    <input type="text" placeholder="username" name="username" id="">
    <input type="password" placeholder="password" name="password" id="">
    <button>Login</button>
</form>