<h1>Campgrounds</h1>

<% campgrounds.forEach((campground) => { %>
    <div>
        <h3><%= campground.name %></h3>
        <img src="<%= campground.image %>" alt="">
    </div>
    
<% }) %>

<a href="/">Home Page</a>
