<% include partials/header %>

<h1>LANDING PAGE</h1>
<p>welcome to YelpCamp</p>


<a href="/campgrounds">View campgrounds</a>
<a href="/campgrounds/new">Create campground</a>

<% include partials/footer %>
